:host {
  width: 100%;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.item-container {
  display: flex;
  justify-content: center;
}

.item {
  position: relative;
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
  z-index: -1;
}

.index {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: var(--border-radius);
  background-color: #8888;
  line-height: 1;
  padding: 0.25rem;
}

.likes {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: var(--border-radius);
  background-color: #8888;
  padding: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.loading {
  grid-column: 1 / -1;
  text-align: center;
  padding: 1rem;
}
