<canvas #canvas width="512" height="512" (click)="handleCanvasClick($event)" (wheel)="handleWheel($event)"></canvas>

<div class="controls">
  <button class="button" (click)="zoomIn()">Zoom In</button>
  <button class="button" (click)="zoomOut()">Zoom Out</button>
  <button class="button" (click)="cyclePalette()">Change Colors</button>
  <button class="button" (click)="resetView()">Reset View</button>
  <button class="button" (click)="cycleFractal()">Switch Fractal</button>
</div>

<div class="sliders">
  <label>
    {{fractalName()}}
  </label>
  <label>
    Fractional Power:
    <input type="range" min="0.5" max="4" step="0.5" [value]="fractionalPower()"
      (input)="fractionalPower.set($any($event.target).valueAsNumber)">
    {{ fractionalPower() }}
  </label>
  <label>
    Asymmetrical Power:
    <input type="range" min="0.5" max="4" step="0.5" [value]="asymmetricalPower()"
      (input)="asymmetricalPower.set($any($event.target).valueAsNumber)">
    {{ asymmetricalPower() }}
  </label>
</div>
