.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 3rem;
  width: 100%;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--color100);

  & .logo {
    width: 2rem;
    height: 2rem;
    filter: invert(var(--color-scheme));
  }
}

.title h3 {
  margin: 0;
}
