<h3 class="title">Savings</h3>
<div>
  @for (item of savings(); track item.id) {
  <div class="item">
    <div>{{formatDate(item.created_at)}}</div>
    <img [src]="item.thumbnail" alt="thumbnail" width="32" height="32" />
    <div class="likes">
      <span>{{item.likes.length}}</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
        <path
          d="m12,22c-3.92-3.74-8.46-6.96-10.49-11.55C-1.22,3.94,7.65-1.13,12,4.29c4.35-5.41,13.22-.35,10.49,6.16-2.03,4.59-6.56,7.82-10.49,11.55Z" />
      </svg>
    </div>
    <img width="24" height="24" class="trash" src="./assets/trash.svg" alt="trash" (click)="handleRemove(item.id)" />
  </div>
  }
  @if (loading()) {
  <app-loader />
  }
</div>
